body.secret {
    background: black;
    display: flex;
    flex-direction: column;
    min-height: 90vh;

    cursor: none;
}

div.test {
    display: flex;
    width: 500px;
    height: 500px;
    margin: auto;
    align-content: center;
    background-color: white;
}

#pointer {
    background: url("https://cdn-icons-png.flaticon.com/512/5300/5300532.png");
    background-size: cover;

    width: 24px;
    height: 24px;

    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
}

a {
    z-index: 100;
    cursor: none;
}