
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {

    color: #F4F4F9;
    background-color: #2F4550;
    margin: 0;

    font-family: Quicksand;
}

a {
    color: #F4F4F9;
    text-decoration: none;
}

a:hover {
    text-decoration: dashed;
}

.Main-Header {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1;
}

.Main-Header div {
    margin: auto;
    height: 100px;
    line-height: 50px;
}

.Main-Header a:hover {
    color: red;
}

a.a-Info:hover {
    color: white;
    cursor: help;
}

/* Index */

.Index-Header {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    margin-bottom: 30vh;
}

.Index-Header h1 {
    margin: auto;
    font-size: 72px;
}

.Index-Header h2 {
    margin: auto;
}

.Index-Nav h3 {
    width: 320px;
    height: 80px;

    margin: 0;

    line-height: 80px;
    text-align: center;

}

.Index-Nav {
    margin-top: 20vh;
    display: flex;
}

.Index-Nav a {
    background-color: #586F7C;
    color: #F4F4F9;

    width: 320px;
    height: 80px;

}

.Button-1 {
    margin-left: auto;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;

    border: solid white;
    border-width:  2px 2px 2px 2px;
}

.Button-2 {
    margin-right: auto;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-left-width: 0;

    border: solid white;
    border-width:  2px 2px 2px 1px;
}

.Index-Footer {
    text-align: center;
    margin: 20px
}


/* Projet */

.projet h1 {
    text-align: center;
}

/* Info */

.Info-Header {
    text-align: center;
    font-size: 42px;
    margin-bottom: 8vh;
}

.Info section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.Info-Button {
    align-content: center;
    margin-top: 5vh;

    border: 2px solid white;
    border-radius: 100vh;

    width: 25vw;
    height: 8vh;

    line-height: 8vh;
    text-align: center;
}

.Info-Button img {
    position:static;
    left: 0;
}